.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}


@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}


.form__input {
    padding: 10px;
    border: 1px solid rgb(223, 214, 214);
}


.form__button {
    padding: 10px;
    border: none;
    color: white;
    background-color: hsl(180, 90%, 26%);
    transition: 1s;
}

.form__button:hover {
    background-color: hsl(180, 90%, 36%);
    transform: scale(1.1);
}


.form__button:active {
    background-color: hsl(180, 90%, 46%);
}