.section {
    margin: 10px 0;
    background-color: white;
}


.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid rgb(214, 214, 199);
}


.section__body {
    padding: 20px;
}