.tasks {
    margin: 0;
    padding: 0;
    list-style: none;
}


.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}


.tasks__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: 1s;
}


.tasks__content--done {
    text-decoration: line-through;
}


.tasks__button--done {
    background: rgb(4, 241, 4);
}


.tasks__button--done:hover {
    background: rgb(4, 204, 4);
    transform: scale(1.1);
} 

.tasks__button--done:active {
    background: rgb(3, 150, 3);
} 


.tasks__button--remove {
    background: rgb(173, 29, 4);
}


.tasks__button--remove:hover {
    background: rgb(202, 33, 3);
    transform: scale(1.1);
} 

.tasks__button--remove:active {
   background: rgb(243, 40, 4);
} 

.tasks__item--hidden {
    display: none;
}